.MuiGridListTile-root{
    width: 50%;
    border-radius: 4px;
}

.MuiGridListTileBar-subtitle {
    height: 85px;
    left: 52.26%;
    right: 17.47%;
    top: calc(50% - 35px/2 - 152.31px);
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;

    overflow: hidden; 
    font-size: 33px !important;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.MuiGridListTile-tile {
    overflow: hidden;
    font-size: 1rem;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.MuiGridListTileBar-root {
    left: 0;
    right: 0;
    height: 48px;
    display: flex;
    position: static;
    background: none !important;
    align-items: center;
    font-family: Open Sans; 
}

.MuiGridListTileBar-title {
    height: 26px !important;
    left: 7.91% !important;
    right: 67.87% !important;
    top: calc(50% - 26px/2 - 184.5px) !important;    
    overflow: hidden;
    font-size: 1rem;
    line-height: 24px !important;
    white-space: nowrap;
    font-family:Open Sans !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 23px !important;
}

.MuiGridListTileBar-titleWrap {
        margin-left: 30px !important;
        margin-bottom: 42px !important;
}
