.caja { 
    font-family: sans-serif; 
    font-size: 13px; 
    font-weight: 40; 
    color: #ffffff; 
    background:#5775b1; 
    height: 22px;
    border-radius: 35px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 0px 0px 35px 0px;
width: 120px;
}