.caja { 
    font-family: sans-serif; 
    font-size: 13px; 
    font-weight: 40; 
    color: #ffffff; 
    background:#5775b1c0; 
    height: 12px;
    border-radius: 35px 35px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 0px 35px 35px 0px;
width: "40%";
}